header {
  background-image: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  height: 65px;
  padding-inline: 20px 37px;
}

header .logo-icon {
  width: 32px;
}

header .logo-text {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: -0.1em;
  margin-left: 7px;
}

header .title {
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 15px;
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}